# Attr data cleaning

In [1]:
import pandas as pd
import numpy as np

In [31]:
dat = pd.read_csv("attr.csv")
data = dat.copy()
pd.set_option('display.max_columns', None)

In [32]:
data.sample(5)

,id,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
536,537,60,No,Travel_Rarely,1179,Sales,16,4,Marketing,1,732,1,Male,84,3,2,Sales Executive,1,Single,5405,11924,8,Y,No,14,3,4,80,0,10,1,3,2,2,2,2
10,11,35,No,Travel_Rarely,809,Research & Development,16,3,Medical,1,14,1,Male,84,4,1,Laboratory Technician,2,Married,2426,16479,0,Y,No,13,3,3,80,1,6,5,3,5,4,0,3
708,709,36,No,Non-Travel,1229,Sales,8,4,Technical Degree,1,990,1,Male,84,3,2,Sales Executive,4,Divorced,5079,25952,4,Y,No,13,3,4,80,2,12,3,3,7,7,0,7
796,797,25,Yes,Travel_Rarely,1219,Research & Development,4,1,Technical Degree,1,1106,4,Male,32,3,1,Laboratory Technician,4,Married,3691,4605,1,Y,Yes,15,3,2,80,1,7,3,4,7,7,5,6
1015,1016,34,No,Travel_Frequently,560,Research & Development,1,4,Other,1,1431,4,Male,91,3,1,Research Scientist,1,Divorced,2996,20284,5,Y,No,14,3,3,80,2,10,2,3,4,3,1,3

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1470 non-null   int64
 1   Age                       1470 non-null   int64
 2   Attrition                 1470 non-null   object
 3   BusinessTravel            1470 non-null   object
 4   DailyRate                 1470 non-null   int64
 5   Department                1470 non-null   object
 6   DistanceFromHome          1470 non-null   int64
 7   Education                 1470 non-null   int64
 8   EducationField            1470 non-null   object
 9   EmployeeCount             1470 non-null   int64
 10  EmployeeNumber            1470 non-null   int64
 11  EnvironmentSatisfaction   1470 non-null   int64
 12  Gender                    1470 non-null   object
 13  HourlyRate                1470 non-null   int64
 14  JobInvolvement            1470 non-null   int64
 15  JobLevel                  1470 non-null   int64
 16  JobRole                   1470 non-null   object
 17  JobSatisfaction           1470 non-null   int64
 18  MaritalStatus             1470 non-null   object
 19  MonthlyIncome             1470 non-null   int64
 20  MonthlyRate               1470 non-null   int64
 21  NumCompaniesWorked        1470 non-null   int64
 22  Over18                    1470 non-null   object
 23  OverTime                  1470 non-null   object
 24  PercentSalaryHike         1470 non-null   int64
 25  PerformanceRating         1470 non-null   int64
 26  RelationshipSatisfaction  1470 non-null   int64
 27  StandardHours             1470 non-null   int64
 28  StockOptionLevel          1470 non-null   int64
 29  TotalWorkingYears         1470 non-null   int64
 30  TrainingTimesLastYear     1470 non-null   int64
 31  WorkLifeBalance           1470 non-null   int64
 32  YearsAtCompany            1470 non-null   int64
 33  YearsInCurrentRole        1470 non-null   int64
 34  YearsSinceLastPromotion   1470 non-null   int64
 35  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(27), object(9)
memory usage: 413.6+ KB

The `data.info()` allows us to see a quick overview of our data and with that we were able to deduce that the data has no missing values and it also has 36 columns and 1470 rows of data, with each column being either an integer ot an object

# Cleaning the data column by column

### Age

For this we can create a bin of ages but for that we would have to get the youngest and oldest age in the column so we know how to create the bin

In [34]:
for i in sorted(data.Age.unique()):
    print(i, end=", ")

18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60,

In [35]:
print(f"The youngest age in the data is {data.Age.unique().min()}\n\
The oldest age in the data is {data.Age.unique().max()}")

The youngest age in the data is 18
The oldest age in the data is 60

In [36]:
bins = [18, 20, 30, 40, 50, 60]
group = ['<20', '20-29', '30-39', '40-49', '50-59']

# Filling NaN with 60+ because we used the right False keyword which will by default ignore the rightmost digit (60)
data['AgeGroup'] = pd.cut(data['Age'], bins=bins, labels=group, right=False).cat.add_categories('60+').fillna('60+')

# Checking the changes
data['AgeGroup'].unique()

### Attrition

In [39]:
data.Attrition.unique()

array(['Yes', 'No'], dtype=object)

Everything looks okay here so we move on to the next
### Business Travel

In [40]:
data.BusinessTravel.unique()

array(['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'], dtype=object)

In [41]:
data.BusinessTravel = data.BusinessTravel.str.replace('_', ' ').str.replace("-", " ")

# Checking the changes
data.BusinessTravel.unique()

array(['Travel Rarely', 'Travel Frequently', 'Non Travel'], dtype=object)

Everything looks okay here so we move on to the next
### Department

In [42]:
data.Department.unique()

array(['Sales', 'Research & Development', 'Human Resources'], dtype=object)

Everything looks okay here so we move on to the next
### Distance From Home

In [43]:
for i in sorted(data.DistanceFromHome.unique()):
    print(i, end=', ')

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29,

In [44]:
# I will create a bin for the distance
bins = [1, 11, 20, 30]
labels = ['Very Close', 'Close', 'Far']
data['DistanceFrom_Home'] = pd.cut(data['DistanceFromHome'], bins=bins, labels=labels, right=False)

Everything looks okay here so we move on to the next
### Education

In [45]:
data.Education.unique()

array([2, 1, 4, 3, 5], dtype=int64)

In [46]:
data.Education =  data.Education.map({1: "Below College",
                                      2: "College",
                                      3: "Bachelor",
                                      4: "Master",
                                      5: "Doctor"})

In [47]:
data.Education.unique()

array(['College', 'Below College', 'Master', 'Bachelor', 'Doctor'],
      dtype=object)

Everything looks okay here so we move on to the next
### Education Field

In [48]:
data.EducationField.unique()

array(['Life Sciences', 'Other', 'Medical', 'Marketing',
       'Technical Degree', 'Human Resources'], dtype=object)

Everything looks okay here so we move on to the next
### Employee Count

In [49]:
data.EmployeeCount.unique()

array([1], dtype=int64)

Everything looks okay here so we move on to the next
### Environment Satisfaction | Job Satisfaction | Relationship Satisfaction | Job Involvement

In [50]:
columns = ['EnvironmentSatisfaction', 'RelationshipSatisfaction', 'JobInvolvement', 'JobSatisfaction']

# Confirming unique values of all four columns
print(" PRE-MAPPING\n", "-" * 11)
for i in columns:
    print(f"{i}\n{data[i].unique()}\n")

 PRE-MAPPING
 -----------
EnvironmentSatisfaction
[2 3 4 1]

RelationshipSatisfaction
[1 4 2 3]

JobInvolvement
[3 2 4 1]

JobSatisfaction
[4 2 3 1]

**They all have similarities in their unique values so I can create a function for all of them.**

In [51]:
# Define a funciton to map all four columns
def four_options(value):
    data[value] = data[value].map({1: 'Low',
                                       2: 'Medium',
                                       3: 'High',
                                       4: 'Very High'})

# For loop to implement mapping
for i in columns:
    four_options(i)
    print(f"{i} - Updated Succesfully\n")

EnvironmentSatisfaction - Updated Succesfully

RelationshipSatisfaction - Updated Succesfully

JobInvolvement - Updated Succesfully

JobSatisfaction - Updated Succesfully

In [52]:
# After mapping; check unique values again
print(" POST-MAPPING\n", "-" * 11)
for i in columns:
    print(f"{i}\n{data[i].unique()}\n")

 POST-MAPPING
 -----------
EnvironmentSatisfaction
['Medium' 'High' 'Very High' 'Low']

RelationshipSatisfaction
['Low' 'Very High' 'Medium' 'High']

JobInvolvement
['High' 'Medium' 'Very High' 'Low']

JobSatisfaction
['Very High' 'Medium' 'High' 'Low']

Everything looks okay here so we move on to the next
### Gender

In [53]:
data.Gender.unique()

array(['Female', 'Male'], dtype=object)

Everything looks okay here so we move on to the next
### Job Level | Stock Option Level

In [54]:
lvl_columns = ['JobLevel', 'StockOptionLevel']

# Confirming unique values of all four columns
print(" PRE-MAPPING\n", "-" * 11)
for i in lvl_columns:
    print(f"{i}\n{data[i].unique()}\n")

 PRE-MAPPING
 -----------
JobLevel
[2 1 3 4 5]

StockOptionLevel
[0 1 3 2]

**The purpose of this function is to make viewers understand that these columns are talking about Level so I am adding 'Lvl' to mean "Level".**

In [55]:
# Define a funciton to add level to both colunms
def level_columns(value):
    data[value] = "Lvl " + data[value].astype(str)


# Implementing the change
for i in lvl_columns:
    level_columns(i)
    print(f"{i} - Updated Succesfully\n")

JobLevel - Updated Succesfully

StockOptionLevel - Updated Succesfully

In [56]:
print(" POST-MAPPING\n", "-" * 11)
for i in lvl_columns:
    print(f"{i}\n{data[i].unique()}\n")

 POST-MAPPING
 -----------
JobLevel
['Lvl 2' 'Lvl 1' 'Lvl 3' 'Lvl 4' 'Lvl 5']

StockOptionLevel
['Lvl 0' 'Lvl 1' 'Lvl 3' 'Lvl 2']

Everything looks okay here so we move on to the next
### Job Role

In [57]:
data.JobRole.unique()

array(['Sales Executive', 'Research Scientist', 'Laboratory Technician',
       'Manufacturing Director', 'Healthcare Representative', 'Manager',
       'Sales Representative', 'Research Director', 'Human Resources'],
      dtype=object)

Everything looks okay here so we move on to the next
### Marital Status

In [58]:
data.MaritalStatus.unique()

array(['Single', 'Married', 'Divorced'], dtype=object)

Everything looks okay here so we move on to the next
### OverTime

In [59]:
data.OverTime.unique()

array(['Yes', 'No'], dtype=object)

Everything looks okay here so we move on to the next
### Performance Rating

In [60]:
data.PerformanceRating.unique()

array([3, 4], dtype=int64)

In [61]:
data.PerformanceRating = data.PerformanceRating.map({3: "Excellent",
                                                     4: "Outstanding"})

In [62]:
data.PerformanceRating.unique()

array(['Excellent', 'Outstanding'], dtype=object)

Everything looks okay here so we move on to the next
### Work-Life Balance

In [63]:
data.WorkLifeBalance.unique()

array([1, 3, 2, 4], dtype=int64)

In [64]:
data.WorkLifeBalance = data.WorkLifeBalance.map({1: 'Bad',
                                                 2: 'Good',
                                                 3: 'Better',
                                                 4: 'Best'})

In [65]:
data.WorkLifeBalance.unique()

array(['Bad', 'Better', 'Good', 'Best'], dtype=object)

Everything looks okay here so we move on to the next
### All columns that deals with years

In [66]:
# We start by creating BINS for this year group
bins = [0, 10, 20, 30]
group = ['0-10 years', '11-20 years', '21-29 years']

# Creating BINS
column = ['TotalWorkingYears', 'YearsAtCompany']

# Define a function to create the BINS
def create_bins(column):
        data[column] = pd.cut(data[column],
                               bins=bins,
                               labels=group,
                               right=False).cat.add_categories('31-40 years').fillna('31-40 years')


# Using the function created in a for loop
for i in column:
    create_bins(i)
    print(f"{i} - Updated Succesfully\n")

TotalWorkingYears - Updated Succesfully

YearsAtCompany - Updated Succesfully

In [67]:
# Appending years to the remainig data that deals with years
yrs = ['TrainingTimesLastYear', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

# Funciton to append years or year to data
def years(col):
    data[col] = data[col].astype(str) + " " + np.where(data[col] == 0, 'year', 'years')

# For loop to use the years() function
for i in yrs:
    years(i)
    print(f"{i} - Updated Succesfully\n")

TrainingTimesLastYear - Updated Succesfully

YearsInCurrentRole - Updated Succesfully

YearsSinceLastPromotion - Updated Succesfully

YearsWithCurrManager - Updated Succesfully

In [68]:
data.sample(4)

,id,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,AgeGroup,DistanceFrom_Home
1323,1324,28,No,Non Travel,280,Human Resources,1,College,Life Sciences,1,1858,High,Male,43,High,Lvl 1,Human Resources,Very High,Divorced,2706,10494,1,Y,No,15,Excellent,Medium,80,Lvl 1,0-10 years,2 years,Better,0-10 years,2 years,2 years,2 years,20-29,Very Close
896,897,31,No,Travel Rarely,1062,Research & Development,24,Bachelor,Medical,1,1252,High,Female,96,Medium,Lvl 2,Healthcare Representative,Low,Single,6812,17198,1,Y,No,19,Excellent,Medium,80,Lvl 0,11-20 years,2 years,Better,11-20 years,9 years,1 years,8 years,30-39,Far
713,714,45,No,Travel Rarely,974,Research & Development,1,Master,Medical,1,996,Very High,Female,91,High,Lvl 1,Laboratory Technician,Very High,Divorced,2270,11005,3,Y,No,14,Excellent,Very High,80,Lvl 2,0-10 years,2 years,Better,0-10 years,3 years,0 year,2 years,40-49,Very Close
167,168,30,No,Travel Rarely,1339,Sales,5,Bachelor,Life Sciences,1,228,Medium,Female,41,High,Lvl 3,Sales Executive,Very High,Married,9419,8053,2,Y,No,12,Excellent,High,80,Lvl 1,11-20 years,2 years,Better,11-20 years,9 years,7 years,4 years,30-39,Very Close

#### Selecting the columns that would bring more meaning during analysis

In [72]:
data = data[['AgeGroup', 'Gender', 'MaritalStatus', 'Attrition', 'BusinessTravel', 'DistanceFrom_Home', 'Department',
             'Education', 'EducationField', 'EnvironmentSatisfaction', 'JobInvolvement', 'JobLevel', 'JobRole',
             'JobSatisfaction', 'HourlyRate', 'DailyRate', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
             'OverTime', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
             'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 
             'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']]

In [70]:
# Old dataframe
dat.head(5)

,id,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
1,2,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7
2,3,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0
3,4,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Y,Yes,11,3,3,80,0,8,3,3,8,7,3,0
4,5,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,Y,No,12,3,4,80,1,6,3,3,2,2,2,2

In [71]:
# New dataframe
data.head(5)

,AgeGroup,Gender,MaritalStatus,Attrition,BusinessTravel,DistanceFrom_Home,Department,Education,EducationField,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobRole,JobSatisfaction,HourlyRate,DailyRate,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,40-49,Female,Single,Yes,Travel Rarely,Very Close,Sales,College,Life Sciences,Medium,High,Lvl 2,Sales Executive,Very High,94,1102,5993,19479,8,Yes,11,Excellent,Low,80,Lvl 0,0-10 years,0 year,Bad,0-10 years,4 years,0 year,5 years
1,40-49,Male,Married,No,Travel Frequently,Very Close,Research & Development,Below College,Life Sciences,High,Medium,Lvl 2,Research Scientist,Medium,61,279,5130,24907,1,No,23,Outstanding,Very High,80,Lvl 1,11-20 years,3 years,Better,11-20 years,7 years,1 years,7 years
2,30-39,Male,Single,Yes,Travel Rarely,Very Close,Research & Development,College,Other,Very High,Medium,Lvl 1,Laboratory Technician,High,92,1373,2090,2396,6,Yes,15,Excellent,Medium,80,Lvl 0,0-10 years,3 years,Better,0-10 years,0 year,0 year,0 year
3,30-39,Female,Married,No,Travel Frequently,Very Close,Research & Development,Master,Life Sciences,Very High,High,Lvl 1,Research Scientist,High,56,1392,2909,23159,1,Yes,11,Excellent,High,80,Lvl 0,0-10 years,3 years,Better,0-10 years,7 years,3 years,0 year
4,20-29,Male,Married,No,Travel Rarely,Very Close,Research & Development,Below College,Medical,Low,High,Lvl 1,Laboratory Technician,Medium,40,591,3468,16632,9,No,12,Excellent,Very High,80,Lvl 1,0-10 years,3 years,Better,0-10 years,2 years,2 years,2 years

In [44]:
# Save to csv
data.to_csv("attr_cleaned.csv")

# The end